<div class="container">
<p>Title: {{blogDetail.title}}</p>

<p>Description: {{blogDetail.description}}</p>

<p>Username: {{user}}</p>

<p>Total Likes : {{totalLikes}}</p>
<table class = " table table-bordered table-hover">
  <tr>  
  <th>Liked By</th>
  
</tr>
<tr *ngFor="let item of likedUser">
  <td> {{item}}
  </td>
  
 
</tr>
</table>

<i class="glyphicon glyphicon-heart fa-10x" style="font-size:40px;" (click) = "likeBlog()"></i>

<p>-----------------------------------------------------------------</p>

<table class = " table table-bordered table-hover">
  <tr>  
  <th>Comments</th>
  <th>Commented By</th>
</tr>
<tr *ngFor="let item of displayComment">
  <td> {{item.comment}}
  </td>
  <td>{{item.commentedBy}}</td>
 
</tr>
</table>
<input type="text" class="form-control" id="comment" placeholder="Enter Comment" name="comment" [(ngModel)]= "commentDetails.comment">
<button (click) = "submit()">submit comment</button>
</div>