<p>Title: {{blogDetail.title}}</p>

<p>Description: {{blogDetail.description}}</p>

<p>Username: {{user}}</p>

<p>Total Likes : {{totalLikes}}</p>
<table class = " table table-bordered table-hover">
  <tr>  
  <th></th>
  
</tr>
<tr *ngFor="let item of likedUser">
  <td> {{item}}
  </td>
  
 
</tr>
</table>

<button (click) = "likeBlog()">Like Blog</button>
<p>-----------------------------------------------------------------</p>

<table class = " table table-bordered table-hover">
  <tr>  
  <th>Comments</th>
  <th>COmmented By</th>
</tr>
<tr *ngFor="let item of displayComment">
  <td> {{item.comment}}
  </td>
  <td>{{item.commentedBy}}</td>
 
</tr>
</table>
<input type="text" class="form-control" id="comment" placeholder="Enter Comment" name="comment" [(ngModel)]= "commentDetails.comment">
<button (click) = "submit()">submit comment</button>