<div class="container panel panel-primary">
    <div class="panel-heading">
    BLOGS
  </div>
  <div class="panel-body">
  
    <div>
    <table class="table table-bordered table-hover">    
      <tr>
<th>index</th>
        <th>
          Name
        </th>
        <th>
          Decription
        </th>
        <th>
          Created By
        </th>
        <th>
          Details
        </th>
      </tr>
      <tr *ngFor = "let item of blogs; let i = index">
     <td>{{i+1}}</td>
        <td>          
          {{item.title}}
        </td>
        <td>
          {{item.description}}
        </td>
      <td>
        {{item.username}}
      </td>
      <td>
         <button [routerLink] = "['/blog', item.title]">See Details</button>
      </td>
      </tr>
    </table>
  </div>
  </div>
  </div>