<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" >Home</a>
        <a class="navbar-brand" *ngIf="!authCheck" [routerLink] = "['/login']">Login</a>
        <a class="navbar-brand" *ngIf="!authCheck" [routerLink] = "['/register']">Register</a>
        <a class="navbar-brand" *ngIf="authCheck" [routerLink] = "['/blogs']">Posts</a>
        <a class="navbar-brand" *ngIf="authCheck" [routerLink] = "['/create-blog']" >Create-Blog</a>
       
        <a class="navbar-brand" *ngIf="authCheck" (click) = "logout()">logout</a>
        
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>